#note-container {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
}
.red {
  background-color: indianred;
  cursor: pointer;
}
.center {
  margin-top: 15px;
  text-align: center;
}

button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #10569f;
  color: #fff;
  font-size: 10pt;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 5px 2px rgba(88, 88, 91, 0.5);
}

button:hover {
  box-shadow: 3px 3px 3px 2px rgba(88, 88, 91, 0.5);
}

button:active {
  box-shadow: 2px 2px 2px 1px rgba(88, 88, 91, 0.5);
}

.note-title,
.note-text,
.note-id {
  margin-bottom: 5px;
}

.note-title {
  font-weight: 600;
}

.button-del {
  background-color: #c81b24;
}
