<main [class.red]="isRed">
  <div class="content">
    <div class="left-side">
      <app-header />
      <router-outlet />
      <!-- <app-add-note class="add-container" /> -->
      <!-- <app-notes-list class="notes-container" /> -->
      <!-- @for (item of notes; track $index) {
      <div class="list-item">
        <div class="list-item-title">{{ item.title }}</div>
        <div class="list-item-text">{{ item.text }}</div>
      </div>
      } -->
      <!-- <h1>My Notes App</h1> -->
      <!-- <h2>{{ title }}</h2> -->
      <!-- <p>Root component</p> -->
    </div>
  </div>
  <!-- <div class="button-container">
    <button (click)="change()">Switch Background Color</button>
  </div>
  @for (item of products; track $index) {
  <div class="list-item">{{ item }}</div>
  }
  <div class="button-container">
    <button (click)="change2()">Switch greeting</button>
  </div>
  <div [class.none]="isLoggedIn" class="conditional-greeeting">Welcome!</div> -->
</main>

<router-outlet />
